@font-face {
    font-family: Avenir;
    src: url("New Cicle Fina.ttf");
    font-weight:400;
}
html ,body
{
	font-family:"Avenir","Helvetica", "Helvetica Neue", "Arial";
	
	background-color: #55554B;

	/*background-image:  url('McGill_Arts_Building2.jpg');
	background-size: contain;*/


}
.ontop
{
	position: absolute;
	width: 20%;
	left: 2.5%;
	top: 2em;
	background-color: transparent;
	border-radius: 0px;
	z-index: 1;
}
#tc_32422
{
	color: white;
}
.options
{
	background-color: #0D0D09;
	
	
	color: #ff3333;

}
.options >li>a
{
	color: white;	
}

.top
{
	background-image: url("Montreal_panorama.jpg");
	background-size: cover;
	height: 10em;
}
.topBar
{
	background-color: #0D0D09;
	border: 2px solid rgba(255, 0, 0, .5);
	width: 100%;
	margin: auto;
	
}
.optionBar 
{
	background-color: #0D0D09;
	
	
	width: 50%;
	margin: auto;
}
.logoImg
{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:  auto;
	margin-right: auto;
	width: auto;
	height: 70%;
}
#countdown
{
	font-weight: bold;
	float: right;
	 
}
#count
{
	font-weight: bold;
	float: right;
	opacity: .5;   
}
.navbar-inner {
    min-height: 0px;
}

.nav-tabs
{
	border-bottom: none;
	text-align:center;
	height: 100%;
	width: 100%;
}
.nav-pills {
	height: 100%;
	width: 100%;
	padding-left: 15%;
    text-align:center;
    border-bottom: none;
    float: left;
    min-height: 0px;    
}
.nav-tabs,.nav-pills > li{
	height: 100%;
	min-height: 0px;
}
.nav-pills > li > a {
    text-align: center;
    min-height: 0px;
    font-size: .95em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  white;
   
}
.nav-tabs > li > a
{
	text-align: center;
    min-height: 0px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  white;
	font-size: .80em;
	height:100%;
}
.nav-tabs > li
{
	float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
	height: 100%;
	min-height: 0px;
}
.nav-pills > li > a:hover,
.nav-pills>li.active>a
{
	color: #ff3333;
}
.nav-tabs >li>a:focus
{
	color: #ff3333;
}
 .nav-tabs > li > a:hover,
.nav-tabs>li.active>a
{
	color: #ff3333;
	font-size: .80em;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: white;
}
#carousel-example-generic
{
	display: block;
	padding-top: 0em;
	padding-bottom: 0em;
    margin-left: auto;
    margin-right: auto ;
    height: 500px;
    width: 80%;
}
.aboutpic
{
	
	max-height: 400px;
	border-radius: 25px;
	display: block;
	margin: auto;
}
.abouttext
{
	max-height: 500px;
	background-color: rgba(0,0,0,.75);
	border-radius: 25px;
	margin-top: 2em;
	margin-bottom: 2em;
	overflow: auto;
	color: #ff3333;
	font-weight: bold;
	
}
.rest
{
	
	width: 100%;
	margin: auto;
	margin-top: 0px;

}
.slides
{
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left: 0px;
	background-image:  url('long.png');
	background-size: cover;
	border-radius: 25px;
}
.item img
{
    width: auto;
    border-radius: 25px;
    max-height: 500px;

} 
.carousel-inner > .item > img {
    margin: 0 auto;
}
.btn-primary {
color: #fff;
background-color: #ed0b24;
border-color: #ed0b24;
}
.btn-primary a{
	color: white;
	font-size: 1em;
} 
.btn-primary > a:visited {
background-color: black;
border-color: black;
}
.btn-primary:hover {
border-color: #ed0b24;
background-color: black;
}
.btn-primary:focus{
color: #fff;
background-color: black;
border-color: black;

}
.well
{
	overflow: auto;
}
.bottom
{
	z-index: -2;
}
.colspon
{
	height: 100%;
}
.sponTitle
{
	height: 20%;
}
.ourSponsors
{
	text-align: center;
	color: black;
	font: 
}
.bottomSpon
{
	height: 80%;
}
.sponimg
{
	display: block;
	margin: auto;
	width: 90%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
.bubbles img
{
	display: block;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}
.glyhelp
{
	display: block;
	margin-left: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
	
}
