body
{
	background-color: #0D0D09;

}
.logoImg
{
	display: block;
	margin-top: 2em;
	margin-left:  auto;
	margin-right: auto;
	width: 60%;
	height: auto;
}
.French_English
{
	color: white;
	text-align: center;
}

